# Github - ignore file 

# Ignore .DS_Store files everywhere
.DS_Store

# Ignore large files from data folder 
/data/*.csv
/data/*.xlsx
/data/Dataset-case.xlsx

# ignore everything from data folder 
/data/*

# Ignore large files from data folder

docs/*
