# Github - ignore file 

# Ignore .DS_Store files everywhere

.DS_Store

# Ignore large files from data folder 
/data/*.csv
/data/*.xlsx


# Exclude the template.ipynb file from the repository
template.ipynb
