# Github - ignore file 

# Ignore .DS_Store files everywhere
.DS_Store

# Ignore large files from data folder 
/data/*.csv
/data/*.xlsx


# ignore everything from data folder 
# data/*

# Ignore large files from data folder

docs/*

# ignore the template file
template.ipynb
improvement.ipynb
